:root {
  --bg-color: #0f172a;
  --text-primary: #f8fafc;
  --accent-color: #38bdf8;
  --card-bg: #1e293b;
}

body {
  background-color: var(--bg-color);
  color: var(--text-primary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}

#hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 15%;
}

.highlight {
  color: var(--accent-color);
  font-weight: bold;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px 10%;
}

.project-card {
  background: var(--card-bg);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 3px solid var(--accent-color);
  transition: transform 0.3s;
}

.project-card:hover {
  transform: translateY(-10px);
}

.btn-primary {
  background: var(--accent-color);
  color: var(--bg-color);
  padding: 10px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.btn-secondary {
  background: transparent;
  color: var(--accent-color);
  padding: 10px 25px;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  font-weight: bold;
}
.btns {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
